[submodule "VorpalEngine/external/loguru"]
	path = VorpalEngine/external/loguru
	url = git@github.com:emilk/loguru.git
[submodule "VorpalEngine/external/glfw"]
	path = VorpalEngine/external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "VorpalEngine/external/glm"]
	path = VorpalEngine/external/glm
	url = git@github.com:g-truc/glm.git
[submodule "VorpalEngine/external/assimp"]
	path = VorpalEngine/external/assimp
	url = git@github.com:assimp/assimp.git
[submodule "VorpalEngine/external/stb"]
	path = VorpalEngine/external/stb
	url = git@github.com:nothings/stb.git
