[submodule "UnicornRender/external/loguru"]
	path = UnicornRender/external/loguru
	url = https://github.com/emilk/loguru.git
[submodule "UnicornRender/external/glfw"]
	path = UnicornRender/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "UnicornRender/external/glm"]
	path = UnicornRender/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "UnicornRender/external/stb"]
	path = UnicornRender/external/stb
	url = https://github.com/nothings/stb.git
[submodule "UnicornRender/external/tinyobjloader"]
	path = UnicornRender/external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "UnicornRender/external/Wink-Signals"]
	path = UnicornRender/external/Wink-Signals
	url = https://github.com/Godlike/Wink-Signals.git
