[submodule "VorpalEngine/external/loguru"]
	path = VorpalEngine/external/loguru
	url = https://github.com/emilk/loguru.git
[submodule "VorpalEngine/external/glfw"]
	path = VorpalEngine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "VorpalEngine/external/glm"]
	path = VorpalEngine/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "VorpalEngine/external/stb"]
	path = VorpalEngine/external/stb
	url = https://github.com/nothings/stb.git
[submodule "VorpalEngine/external/tinyobjloader"]
	path = VorpalEngine/external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
